<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>添加任务</title>

        {% load static %}

		<meta name="description" content="and Validation" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{% static 'isadmin/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'isadmin/font-awesome/4.5.0/css/font-awesome.min.css' %}" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="{% static 'isadmin/css/select2.min.css' %}" />

		<!-- text fonts -->
        <link rel="stylesheet" href="{% static 'isadmin/css/fonts.googleapis.com.css' %}" />

        <!-- ace styles -->
        <link rel="stylesheet" href="{% static 'isadmin/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

        <!--[if lte IE 9]>
		   	<link rel="stylesheet" href="{% static 'isadmin/css/ace-part2.min.css' %}" class="ace-main-stylesheet" />
		<![endif]-->
        <link rel="stylesheet" href="{% static 'isadmin/css/ace-skins.min.css' %}" />
        <link rel="stylesheet" href="{% static 'isadmin/css/ace-rtl.min.css' %}" />

        <!--[if lte IE 9]>
		    <link rel="stylesheet" href="{% static 'isadmin/css/ace-ie.min.css' %}" />
		<![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="{% static 'isadmin/js/ace-extra.min.js' %}"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
		    <script src="{% static 'isadmin/js/html5shiv.min.js' %}"></script>
		    <script src="{% static 'isadmin/js/respond.min.js' %}"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">快照任务</a>
                        </li>
                        <li class="active">添加任务</li>
                    </ul><!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                        </form>
                    </div><!-- /.nav-search -->
                </div>

                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            添加任务
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                添加一个多地点定时快照获取任务。
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="widget-box">
                                <div class="widget-header widget-header-blue widget-header-flat">
                                    <h4 class="widget-title lighter">新任务</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div id="fuelux-wizard-container">
                                            <div>
                                                <ul class="steps">
                                                    <li data-step="1" class="active">
                                                        <span class="step">1</span>
                                                        <span class="title">启动配置</span>
                                                    </li>

                                                    <li data-step="2">
                                                        <span class="step">2</span>
                                                        <span class="title">运行配置</span>
                                                    </li>

                                                    <li data-step="3">
                                                        <span class="step">3</span>
                                                        <span class="title">定时配置</span>
                                                    </li>

                                                    <li data-step="4">
                                                        <span class="step">4</span>
                                                        <span class="title">任务预览</span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <hr />

                                            <div class="step-content pos-rel">
                                                <div class="step-pane active" data-step="1">
                                                    <h3 class="lighter block green">请输入下列信息：</h3>

                                                    <form class="form-horizontal" id="sample-form">

                                                        <div class="form-group has-info">
                                                            <label for="task_name" class="col-xs-12 col-sm-3 control-label no-padding-right">任务名</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="task_name" type="text" id="task_name" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 此任务的名称 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="start_url" class="col-xs-12 col-sm-3 control-label no-padding-right">起始URL</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="start_url" type="text" id="start_url" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 目标站点url </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="exist_time" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">持续时间</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="exist_time" type="text" id="exist_time" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 单次任务执行时间上限 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="depth" class="col-xs-12 col-sm-3 control-label no-padding-right">访问深度</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="depth" type="text" id="depth" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 广度优先搜索的深度 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="max_num" class="col-xs-12 col-sm-3 control-label no-padding-right">最大数量</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="max_num" type="text" id="max_num" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 任务的最大快照数量 </div>
                                                        </div>
                                                    </form>

                                                </div>

                                                <div class="step-pane" data-step="2">
                                                    <h3 class="lighter block green">请输入下列信息：</h3>

                                                    <form class="form-horizontal" id="sample-form">
                                                        <div class="form-group has-info">
                                                            <label for="expires" class="col-xs-12 col-sm-3 control-label no-padding-right">失效时间</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="expires" type="text" id="expires" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 此任务不再定时执行的时间 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="enabled" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">开启状态</label>

                                                            <div class="col-xs-12 col-sm-5">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="enabled" id="enabled1" value="1"> 是
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="enabled" id="enabled2" value="0"> 否
                                                                </label>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 是否马上开启 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="description" class="col-xs-12 col-sm-3 control-label no-padding-right">备注</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="description" type="text" id="description" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 对此任务的任务描述或其它注意事项 </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="step-pane" data-step="3">
                                                    <h3 class="lighter block green">请以crontab的格式输入下列信息：</h3>

                                                    <form class="form-horizontal" id="sample-form">
                                                        <div class="form-group has-info">
                                                            <label for="minute" class="col-xs-12 col-sm-3 control-label no-padding-right">分钟</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="minute" type="text" id="minute" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 1～59，多个用逗号隔开，每分钟用*，每五分钟 */5表示 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="hour" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">小时</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="hour" type="text" id="hour" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 0～23，多个用逗号隔开，每小时用*，每五小时 */5表示 </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="day_of_week" class="col-xs-12 col-sm-3 control-label no-padding-right">周数</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="day_of_week" type="text" id="day_of_week" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 0～6，0为周日，多个用逗号隔开，每天用* </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="day_of_month" class="col-xs-12 col-sm-3 control-label no-padding-right">日期</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="day_of_month" type="text" id="day_of_month" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 1～31，多个用逗号隔开，每天用*，每五天用 */5表示  </div>
                                                        </div>

                                                        <div class="form-group has-info">
                                                            <label for="month_of_year" class="col-xs-12 col-sm-3 control-label no-padding-right">月份</label>

                                                            <div class="col-xs-12 col-sm-5">
																	<span class="block input-icon input-icon-right">
																		<input name="month_of_year" type="text" id="month_of_year" class="width-100" />
																		<i class="ace-icon fa fa-leaf"></i>
																	</span>
                                                            </div>
                                                            <div class="help-block col-xs-12 col-sm-reset inline"> 1～12，多个用逗号隔开，每月用*，每五月 */5表示  </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="step-pane" data-step="4">
                                                    <div class="center" style="width: 100%">
                                                        <h3 class="green">任务配置如下!</h3>
                                                        <table class="table table-striped table-hover" style="margin: 0 auto;width: 80%">
                                                            <tr>
                                                                <td>任务名称</td>
                                                                <td id="show_task_name"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>目标站点</td>
                                                                <td id="show_start_url"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>持续时间</td>
                                                                <td id="show_exist_time"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>访问深度</td>
                                                                <td id="show_depth"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>最大数量</td>
                                                                <td id="show_max_num"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>失效时间</td>
                                                                <td id="show_expires"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>开启状态</td>
                                                                <td id="show_enabled"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>备注</td>
                                                                <td id="show_description"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Crontab</td>
                                                                <td id="show_crontab"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="wizard-actions">
                                            <button class="btn btn-prev">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                上一步
                                            </button>

                                            <button id="submitBtn" class="btn btn-success btn-next" data-last="提交" onclick="submit_task();">
                                                下一步
                                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                            </button>
                                        </div>
                                    </div><!-- /.widget-main -->
                                </div><!-- /.widget-body -->
                            </div>

                           <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
		<!-- basic scripts -->

        <!--[if !IE]> -->
            <script src="{% static 'isadmin/js/jquery-2.1.4.min.js' %}"></script>
        <!-- <![endif]-->

        <!--[if IE]>
            <script src="{% static 'isadmin/js/jquery-1.11.3.min.js' %}"></script>
        <![endif]-->
        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'isadmin/js/jquery.mobile.custom.min.js' %}'>"+"<"+"/script>");
        </script>
        <script src="{% static 'isadmin/js/bootstrap.min.js' %}"></script>

		<!-- page specific plugin scripts -->
        <script src="{% static 'isadmin/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'isadmin/js/bootstrap-datepicker.zh-CN.js' %}"></script>
		<script src="{% static 'isadmin/js/wizard.min.js' %}"></script>
		<script src="{% static 'isadmin/js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'isadmin/js/jquery-additional-methods.min.js' %}"></script>
		<script src="{% static 'isadmin/js/bootbox.js' %}"></script>
		<script src="{% static 'isadmin/js/jquery.maskedinput.min.js' %}"></script>
		<script src="{% static 'isadmin/js/select2.min.js' %}"></script>

		<!-- ace scripts -->
        <script src="{% static 'isadmin/js/ace-elements.min.js' %}"></script>
        <script src="{% static 'isadmin/js/ace.min.js' %}"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {

				$('[data-rel=tooltip]').tooltip();

				$('.select2').css('width','200px').select2({allowClear:true})
				.on('change', function(){
					$(this).closest('form').validate().element($(this));
				});


				var $validation = false;
				$('#fuelux-wizard-container')
				.ace_wizard()
				.on('actionclicked.fu.wizard' , function(e, info){
					if(info.step == 1 && $validation) {
						if(!$('#validation-form').valid()) e.preventDefault();
					}
				})
				.on('stepclick.fu.wizard', function(e){
					//e.preventDefault();//this will prevent clicking and selecting steps
				});

				$('#modal-wizard-container').ace_wizard();
				$('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');

				$(document).one('ajaxloadstart.page', function(e) {
					//in ajax mode, remove remaining elements before leaving page
					$('[class*=select2]').remove();
				});

                $('#expires').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    language:"zh-CN",
                    format:"yyyy-mm-dd"
                });
            });

            /**
             * 提交/下一步按钮触发提交
             */
			function submit_task() {
			    let submitBtn = $("#submitBtn");
                if ($.trim(submitBtn.text()) == "下一步") {
                    $("#show_task_name").text($("#task_name").val());
                    $("#show_start_url").text($("#start_url").val());
                    $("#show_exist_time").text($("#exist_time").val());
                    $("#show_depth").text($("#depth").val());
                    $("#show_max_num").text($("#max_num").val());
                    $("#show_expires").text($("#expires").val());
                    if ($("input[name='enabled']").val() == '0') {
                        $("#show_enabled").text("否");
                    } else {
                        $("#show_enabled").text("是");
                    }
                    $("#show_description").text($("#description").val());
                    let crontab = $("#minute").val() + "  " + $("#hour").val() + "  " + $("#day_of_week").val() +
                        "  " + $("#day_of_month").val() + "  " + $("#month_of_year").val();
                    $("#show_crontab").text(crontab);
                } else {
                    let inputs = ["task_name", "start_url", "exist_time", "depth", "max_num", "enabled",
                        "minute", "hour", "day_of_week", "day_of_month", "month_of_year"];
                    let names = ["任务名", "起始URL", "持续时间", "访问深度", "最大数量", "开启状态",
                        "分钟", "小时", "周数", "日期", "月份"];
                    for (let i = 0; i < inputs.length; i++) {
                        if((inputs[i] != "enabled" && $("#"+inputs[i]).val() == "") ||
                            (inputs[i] == "enabled" && $("input[name='"+inputs[i]+"']").val() == "")) {
                            bootbox.dialog({
                                message: names[i] + "尚未填写内容，请返回填写。",
                                buttons: {
                                    "success": {
                                        "label": "OK",
                                        "className": "btn-sm btn-primary"
                                    }
                                }
                            });
                            return;
                        }
                    }
                    $.ajax({
                        url: "/isadmin/tasks",
                        data: {
                            "oper": "add",
                            "task_name": $("#task_name").val(),
                            "start_url": $("#start_url").val(),
                            "exist_time": $("#exist_time").val(),
                            "depth": $("#depth").val(),
                            "max_num": $("#max_num").val(),
                            "expires": $("#expires").val(),
                            "enabled": $("input[name='enabled']").val(),
                            "description": $("#description").val(),
                            "minute": $("#minute").val(),
                            "hour": $("#hour").val(),
                            "day_of_week": $("#day_of_week").val(),
                            "day_of_month": $("#day_of_month").val(),
                            "month_of_year": $("#month_of_year").val()
                        },
                        success: function (data) {
                            if(data["status"] == "success") {
                                bootbox.dialog({
                                    message: "任务添加完成，请前往任务视图查看。",
                                    buttons: {
                                        "success": {
                                            "label": "OK",
                                            "className": "btn-sm btn-primary",
                                            "callback": function () {
                                                window.location.href = "/isadmin/get_tasks"
                                            }
                                        }
                                    }
                                });
                            } else {
                                bootbox.dialog({
                                    message: "任务添加失败，" + data["message"],
                                    buttons: {
                                        "success": {
                                            "label": "OK",
                                            "className": "btn-sm btn-primary",
                                        }
                                    }
                                });
                            }

                        },
                        error: function (e) {
                            bootbox.dialog({
                                message: "任务添加失败，请重试。",
                                buttons: {
                                    "success": {
                                        "label": "OK",
                                        "className": "btn-sm btn-primary"
                                    }
                                }
                            });
                        }
                    });
                }
            }
		</script>
	</body>
</html>
